#!/usr/bin/env bash
export DB_ENGINE=django.db.backends.postgresql
export DB_NAME=hedera
export DB_HOST=db
export DB_PORT=5432
export PASSWORD=hedera
export DEFAULT_EMAIL=demo@didcoding.com
export FIRST_NAME=Bobby
export LAST_NAME=Stearman
export DEBUG=1
export SECRET_KEY=django-insecure-+oes=gg=^7abvi-cqc-yzlc3&o-ij5b$!p5&&cdrz%$
export DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
export CELERY_BACKEND=django-db
export OPERATOR_ID=***User your credentials***
export OPERATOR_KEY=***User your credentials***
export HEDERA_ENV=***User your credentials***
export DEMO_USER_1=***User your credentials***
export DEMO_USER_2=***User your credentials***