
{% extends 'nft_generator/base.html' %}
{% load nft_tags %}
 
{% block content %}

        <div class="card">
        <img src="{{object.image.url}}" alt="{{object.name}}" style="width:100%">
        <p class="title">{{object.name}}</p>
        {% comment %} <h1>Overall rarity = {{object.overall_rarity}}</h1> {% endcomment %}
        
        <table>
            <tr>
              <th>Trait Category</th>
              <th>Trait Name</th>
              {% comment %} <th>Rarity</th> {% endcomment %}
            </tr>
            {% for trait in object.traits.all %}
            <tr>
              <td>{{trait.category.name}}</td>
              <td>{{trait.name}}</td>
              {% comment %} <td>{% get_rarity object trait %}</td> {% endcomment %}
            </tr>
            {% endfor %}
            
            <tr>
              <td>IPFS metadata</td>
              {% comment %} <td></td> {% endcomment %}
              <td><a href='{{object.ipfs_file_uri}}' target="_blank">metadata</td>
            </tr>
            <tr>
              <td>IPFS image</td>
              {% comment %} <td></td> {% endcomment %}
              <td><a href='{{object.ipfs_image_uri}}' target="_blank">image</td>
            </tr>
          </table>
        <p>

          {% if object.account == Null %}
          <a class="back-to-all" href="{% url 'nft_generator:transfer' id=object.id %}">Transfer</a>
          {% endif %}
          <a class="back-to-all" href="{% url 'nft_generator:nfts' %}">View all</a>
        </p>
        </div>
 
    
 
{% endblock %}
 